<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Zach Marshall</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/new-age.min.css" rel="stylesheet">
  <link href="../css/newStyles.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Game Night</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu-link-item" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu-link-item" href="../pages/score.html">Score Keeper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu-link-item" href="../pages/mario.html">Mario Kart Score</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu-link-item" href="../pages/disney.html">Disney Ride Times</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu-link-item" href="../pages/bakerstreet.html">221 B Baker Street</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu-link-item" href="../pages/contact.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu-link-item" href="../pages/randomizer.html">Randomizer</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead" id="container">
    <div class="container h-100">

      <div class="header-content mx-auto">
        <div id="app">
          <form v-on:submit.prevent="addOption">
            <input type="text" v-model="currOption" placeholder="Add an option" class="selectOption">
            <button type="submit" class="text-respond selectBtn">Add</button>
          </form>
          <br>
          <div class="controls text-respond selectBtn inputOption centerBtn">
            <button v-on:click="randomize()"
              v-show="options.length > 0 && (finalChoice == '' || finalChoice == undefined) ">Randomize</button>
            <button v-on:click="viewList()"
              v-show="options.length > 0 && (finalChoice != '' && finalChoice != undefined)">View List</button>
            <button v-on:click="reset()"
              v-show="options.length > 0 && (finalChoice != '' && finalChoice != undefined)">Reset</button>
            <br>
          </div>
          <ul>
            <li v-for="item in options" v-show="finalChoice == '' || finalChoice == undefined"
              class="randomItems container-center center-div inputOption">
              <label>{{ item }}</label>
              <button v-on:click="deleteItem(item)" class="delete">x</button>
            </li>
          </ul>
          <p v-show="finalChoice != '' && finalChoice != undefined" class="container-center center-div inputOption">The
            random choice is: {{ finalChoice }}</p>
          <p v-show="checkError()" class="container-center center-div inputOption">Please add items to be randomized</p>
        </div>
      </div>
    </div>
  </header>

  <footer id="footer">
    <div class="container">
      <p>&copy; Copyright @Zach Marshall 2020. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://github.com/zachbmarshall/gamenight">GitHub Repo</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="../bootstrap_js/new-age.min.js"></script>
  <script src="../app_js/random.js"></script>

</body>

</html>